<div class="hero-unit" style="opacity:.90;">
	<div class="row-fluid">
		<div class="offset8 span4">
			<div class="input-prepend input-datepicker">
			  <%= image_tag('Calendar@2x.png', :width => "40") %>
	          <input type="text" class="span2 datepicker" id="datepicker">
	        </div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<h5>Regular Fuel Prices by Region</h5>
			<table style="width: 100%;">
				<tr>
					<td style="width: 80%" colspan="2">
						US National Average
					</td>
					<td>
						<%= @regular.us_national_average %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						East Coast
					</td>
					<td>
						<%= @regular.east_coast %>
					</td>
				</tr>
				<tr>
					<td style="width: 10%">
					</td>
					<td style="width: 70%">
						New England
					</td>
					<td>
						<%= @regular.new_england %>
					</td>
				</tr>
				<tr>
					<td style="width: 10%">
					</td>
					<td style="width: 70%">
						Central Atlantic
					</td>
					<td>
						<%= @regular.central_atlantic %>
					</td>
				</tr>
				<tr>
					<td style="width: 10%">
					</td>
					<td style="width: 70%">
						Lower Atlantic
					</td>
					<td>
						<%= @regular.lower_atlantic %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Midwest
					</td>
					<td>
						<%= @regular.midwest %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Gulf Coast
					</td>
					<td>
						<%= @regular.gulf_coast %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Rocky Mountains
					</td>
					<td>
						<%= @regular.rocky_mountains %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						West Coast
					</td>
					<td>
						<%= @regular.west_coast %>
					</td>
				</tr>
				<tr>
					<td style="width: 10%">
					</td>
					<td style="width: 70%">
						California
					</td>
					<td>
						<%= @regular.california %>
					</td>
				</tr>
				<tr>
					<td style="width: 10%">
					</td>
					<td style="width: 70%">
						West Coast less California
					</td>
					<td>
						<%= @regular.west_coast_less_california %>
					</td>
				</tr>
			</table>
		</div>
		<div class="span6">
			<h5>Regular Fuel Prices by State</h5>
			<table style="width: 100%;">
				<tr>
					<td style="width: 80%" colspan="2">
						Colorado
					</td>
					<td>
						<%= @regular.colorado %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Florida
					</td>
					<td>
						<%= @regular.florida %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Massachusetts
					</td>
					<td>
						<%= @regular.massachusetts %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Minnesota
					</td>
					<td>
						<%= @regular.minnesota %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						New York
					</td>
					<td>
						<%= @regular.new_york %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Ohio
					</td>
					<td>
						<%= @regular.ohio %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Texas
					</td>
					<td>
						<%= @regular.texas %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Washington
					</td>
					<td>
						<%= @regular.washington %>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<h5>Regular Fuel Prices by City</h5>
			<table style="width: 100%;">
				<tr>
					<td style="width: 80%" colspan="2">
						Boston
					</td>
					<td>
						<%= @regular.boston %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Chicago
					</td>
					<td>
						<%= @regular.chicago %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Cleveland
					</td>
					<td>
						<%= @regular.cleveland %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Denver
					</td>
					<td>
						<%= @regular.denver %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Houston
					</td>
					<td>
						<%= @regular.houston %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Los Angeles
					</td>
					<td>
						<%= @regular.los_angeles %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Miami
					</td>
					<td>
						<%= @regular.miami %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						New York City
					</td>
					<td>
						<%= @regular.new_york_city %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						San Francisco
					</td>
					<td>
						<%= @regular.san_francisco %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Seattle
					</td>
					<td>
						<%= @regular.seattle %>
					</td>
				</tr>
			</table>
		</div>
		<div class="span6">
			<h5>Diesel Fuel Prices</h5>
			<table style="width: 100%;">
				<tr>
					<td style="width: 80%" colspan="2">
						US National Average
					</td>
					<td>
						<%= @diesel.us_national_average %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						East Coast
					</td>
					<td>
						<%= @diesel.east_coast %>
					</td>
				</tr>
				<tr>
					<td style="width: 10%">
					</td>
					<td style="width: 70%">
						New England
					</td>
					<td>
						<%= @diesel.new_england %>
					</td>
				</tr>
				<tr>
					<td style="width: 10%">
					</td>
					<td style="width: 70%">
						Central Atlantic
					</td>
					<td>
						<%= @diesel.central_atlantic %>
					</td>
				</tr>
				<tr>
					<td style="width: 10%">
					</td>
					<td style="width: 70%">
						Lower Atlantic
					</td>
					<td>
						<%= @diesel.lower_atlantic %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Midwest
					</td>
					<td>
						<%= @diesel.midwest %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Gulf Coast
					</td>
					<td>
						<%= @diesel.gulf_coast %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						Rocky Mountains
					</td>
					<td>
						<%= @diesel.rocky_mountains %>
					</td>
				</tr>
				<tr>
					<td style="width: 80%" colspan="2">
						West Coast
					</td>
					<td>
						<%= @diesel.west_coast %>
					</td>
				</tr>
				<tr>
					<td style="width: 10%">
					</td>
					<td style="width: 70%">
						California
					</td>
					<td>
						<%= @diesel.california %>
					</td>
				</tr>
				<tr>
					<td style="width: 10%">
					</td>
					<td style="width: 70%">
						West Coast less California
					</td>
					<td>
						<%= @diesel.west_coast_less_california %>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<hr/>
	<div class="row-fluid">
		<div class="offset10">
			<small>Effective: <%= @regular.effective_date %></small>
		</div>
	</div>
</div>